body{
    background-color: black;
}
h1{
    font-family: 'open Sans' sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}
p{
    font-family: 'open sans' sans-serif;
}
.imagen{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.motivacion {
    border: 5px solid white;
    width: 100%;
}

